*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-image: url("../../img/bg-stars.svg");
  background-size: cover;
  background-color: #231d2b;
  color: #fff;
}

.main {
  padding-inline: 20px;
  max-width: 740px;
  margin-inline: auto;
}
.main h1.grabber {
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  font-size: 1.3rem;
  margin: 7em 0 3em;
}
.main .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .timer .timer-col {
  width: 150px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.main .timer .timer-col::before, .main .timer .timer-col::after {
  content: "";
  position: absolute;
  background: #1a1a24;
  width: 10px;
  aspect-ratio: 1/1;
  top: 65px;
  left: -5px;
  border-radius: 50%;
  z-index: 1;
}
.main .timer .timer-col::after {
  left: auto;
  right: -5px;
}
.main .timer .timer-col .counter-block {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  background: #34364f;
  -webkit-box-shadow: 0 10px 0 0 #1a1a24;
          box-shadow: 0 10px 0 0 #1a1a24;
  font-size: 4rem;
  color: hsl(345deg, 95%, 68%);
  position: relative;
  overflow: hidden;
}
.main .timer .timer-col .counter-block::after {
  content: "";
  position: absolute;
  background: #231d2b;
  opacity: 0.3;
  width: 100%;
  height: 50%;
  top: 0;
}
.main .timer .timer-col p {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: hsl(237deg, 18%, 59%);
  margin-top: 20px;
}
@media screen and (max-width: 790px) {
  .main .timer {
    gap: 1em;
  }
  .main .timer .timer-col {
    width: 80px;
    width: 25%;
  }
  .main .timer .timer-col .counter-block {
    height: 70px;
    font-size: 2.5rem;
  }
  .main .timer .timer-col p {
    font-size: 0.6rem;
    letter-spacing: 1px;
  }
  .main .timer .timer-col::before, .main .timer .timer-col::after {
    top: 30px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-image: url("../../img/pattern-hills.svg");
  background-size: cover;
}
.footer .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 300px;
  margin: 7em auto 2em;
  gap: 2em;
}
.footer .social-links svg path {
  fill: #8385A9;
  -webkit-transition: 0.3s fill ease;
  transition: 0.3s fill ease;
}
.footer .social-links a:hover svg path, .footer .social-links a:focus svg path {
  fill: hsl(345deg, 95%, 68%);
}
.footer .attribution {
  text-align: center;
  font-weight: 100;
}
.footer .attribution a {
  color: inherit;
  color: hsl(237deg, 18%, 59%);
  -webkit-transition: 0.3s color ease;
  transition: 0.3s color ease;
}
.footer .attribution a:hover, .footer .attribution a:focus {
  color: hsl(345deg, 95%, 68%);
}